@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-uniquifier {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }

  /* shared styles */

  .btn-primary{
    background-color: #E02C6D;
    color: #FFFFFF;
    font-weight: 700;
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
    outline: none;
  }

  .text-dark1-gray{
    color: #3A3A3A;
  }

  .text-light-gray{
    color: #787885;
  }

  .text-dark2-gray{
    color: #18191F;
    font-size: 1.75rem;
    font-weight: 500;
  }

  .text-dark3{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
  }

  /* nav-bar styles  */

  nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 130px;
  }

  .nav-title{
    font-size: 1.5rem;
    font-weight: 600;
  }

  .nav-list{
    display: flex;
    list-style: none;
    gap: 34px;
    font-weight: 600;
    cursor: pointer;
  }

  .nav-list i{
    font-size: 1.25rem;
  }

  /* banner styles added */

  .banner{
    padding: 0 130px;
    display: flex;
    justify-content: space-between;
  }


  .banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 5px;
  }

  .banner-description{
    max-width: 500px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .banner-btn{
    cursor: pointer;
  }

  .banner-btn i{
    margin-left: 10px;
  }


  .banner-box .banner-img1{
    position: absolute;
  }

  .banner-box .banner-img2{
    position: relative;
    top: 30px;
  }

  /* sponsor section styles added */

  .sponsor{
    max-width: 1110px;
    padding: 36px 62px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 61px;
  }

  .sponsor-icon{

  }

  .sponsor-icon img{
    width: 5.25rem;
  }

  /* card section styles added */

  .card-collection{
    max-width: 1050px;
    margin: 100px auto;
  }

  .collection-title{
    max-height: 70px;
    text-align: center;
    margin-bottom: 40px;
  }

  .card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .card-box{
    padding: 17px 15px;
    max-width: 330px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  .link-tag{
    text-align: end;
    text-decoration: none;
    font-weight: 700;
    margin-top: 50px;
  }

  .link-tag a{
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
  }

  .link-tag i{
    margin-left: 10px;
  }

  /* feature section styles added */

  .feature{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 95px;
  }

  .feature-title{
    width: 100%;
    line-height: 1.75rem;
    font-size: 2.38rem;
    font-weight: 700;
    color: #0A0826;
  }

  .feature-description{
    max-width: 500px;
    color: #6C6C6C;
    line-height: 1.75rem;
    font-weight: 700;
  }

  .join-btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    font-weight: 700;
    padding: 10px 24px;
    border: none;
    outline: none;
  }

  .join-btn i{
    margin-left: 10px;
  }

  /* responsive media query added  */

  @media screen and (max-width: 576px) {

    ul{
        flex-direction: column;
        
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-box{
        margin: 20px auto;
    }
    nav, .banner{
        padding: 0 0;
    }
    .banner-text-box{
        margin: 50px 0;
        text-align: center;
    }
    .banner-title{
        font-size: 1.8rem;
        line-height: 50px;
    }
    .banner-img1{
        width: 257px;
    }
    .banner-img2{
        width: 200px;
        margin-left: 30px;
    }
    .banner-description{
        font-size: 0.8rem;
        font-weight: 400;
    }
    .sponsor{
        padding: 0;
        margin: 0 auto;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }
    .sponsor img{
        width: 3.5rem;
    }

    .card{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .feature, img{
        margin-top: -40px;
        flex-direction: column-reverse;
        text-align:  center;
    }

    .feature-title{
        font-size: 1.6rem;
        font-weight: 700;
    }
  }